Week 2/Graph Rag/n8n_ingestion_from_text.json
{
  "name": "Org Knowledge Graph — Ingestion from Text",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [40, 400]
    },
    {
      "parameters": {
        "jsCode": "// Define text documents to process\nconst BASE = 'https://raw.githubusercontent.com/YOUR_USERNAME/YOUR_REPO/main/';\n\nconst docs = [\n  { \n    url: BASE + 'meeting_notes_q3.txt',\n    label: 'Q3 Engineering Meeting Notes',\n    type: 'meeting_notes'\n  },\n  { \n    url: BASE + 'project_updates.txt',\n    label: 'Project Status Updates',\n    type: 'status_update'\n  }\n];\n\nreturn docs.map(d => ({ json: d }));"
      },
      "id": "manifest",
      "name": "Document Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch",
      "name": "Fetch Text Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "raw_text",
              "value": "={{ $json }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "label",
              "value": "={{ $('Document Manifest').item.json.label }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "type",
              "value": "={{ $('Document Manifest').item.json.type }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-text",
      "name": "Set Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0
        }
      },
      "id": "llm",
      "name": "Groq LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [900, 540],
      "credentials": {
        "groqApi": {
          "id": "groq-api",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.raw_text }}",
        "options": {
          "systemMessage": "You are an expert at extracting structured information from unstructured text.\n\nExtract the following entities and relationships from the text:\n\n**Entities to extract:**\n- People: name, role, team (if mentioned)\n- Projects: name, description, status, tools used\n- Decisions: title, rationale, date, who approved it\n- Documents: title, content summary, type, author\n\n**Relationships to extract:**\n- Who worked on which projects\n- Who approved which decisions\n- Which documents relate to which projects/decisions\n- Which tools were used in which projects\n\nReturn ONLY valid JSON in this exact format:\n```json\n{\n  \"people\": [{\"id\": \"p001\", \"name\": \"...\", \"role\": \"...\", \"team\": \"...\"}],\n  \"projects\": [{\"id\": \"pr001\", \"name\": \"...\", \"description\": \"...\", \"status\": \"...\", \"tools\": [...], \"contributors\": [\"p001\"]}],\n  \"decisions\": [{\"id\": \"d001\", \"title\": \"...\", \"rationale\": \"...\", \"date\": \"YYYY-MM-DD\", \"approved_by\": \"p001\", \"project_id\": \"pr001\"}],\n  \"documents\": [{\"id\": \"doc001\", \"title\": \"...\", \"content\": \"...\", \"type\": \"...\", \"author_id\": \"p001\"}]\n}\n```\n\nGenerate unique IDs (p001, pr001, d001, doc001) for each entity.\nIf information is not present, use empty arrays [].\nDo not include markdown code fences in your response."
        }
      },
      "id": "extract",
      "name": "Extract Entities",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.response;\n\n// Parse the LLM response\nlet extracted;\ntry {\n  // Remove markdown code fences if present\n  const cleaned = response.replace(/```json\\n?|```\\n?/g, '').trim();\n  extracted = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse LLM response as JSON: ' + e.message + '\\nResponse: ' + response);\n}\n\n// Validate required fields\nif (!extracted.people) extracted.people = [];\nif (!extracted.projects) extracted.projects = [];\nif (!extracted.decisions) extracted.decisions = [];\nif (!extracted.documents) extracted.documents = [];\n\n// Add teams array (extract unique teams from people)\nconst teams = [...new Set(extracted.people.map(p => p.team).filter(Boolean))];\nextracted.teams = teams;\n\nreturn [{ json: extracted }];"
      },
      "id": "parse",
      "name": "Parse Extracted Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst schemaQueries = [\n  \"CREATE CONSTRAINT person_id IF NOT EXISTS FOR (n:Person) REQUIRE n.id IS UNIQUE\",\n  \"CREATE CONSTRAINT project_id IF NOT EXISTS FOR (n:Project) REQUIRE n.id IS UNIQUE\",\n  \"CREATE CONSTRAINT decision_id IF NOT EXISTS FOR (n:Decision) REQUIRE n.id IS UNIQUE\",\n  \"CREATE CONSTRAINT document_id IF NOT EXISTS FOR (n:Document) REQUIRE n.id IS UNIQUE\",\n  \"CREATE CONSTRAINT skill_name IF NOT EXISTS FOR (n:Skill) REQUIRE n.name IS UNIQUE\",\n  \"CREATE CONSTRAINT tool_name IF NOT EXISTS FOR (n:Tool) REQUIRE n.name IS UNIQUE\",\n  \"CREATE CONSTRAINT team_name IF NOT EXISTS FOR (n:Team) REQUIRE n.name IS UNIQUE\",\n  \"CREATE VECTOR INDEX doc_embeddings IF NOT EXISTS FOR (n:Document) ON n.embedding OPTIONS {indexConfig: {`vector.dimensions`: 384, `vector.similarity_function`: 'cosine'}}\",\n  \"CREATE VECTOR INDEX decision_embeddings IF NOT EXISTS FOR (n:Decision) ON n.embedding OPTIONS {indexConfig: {`vector.dimensions`: 384, `vector.similarity_function`: 'cosine'}}\"\n];\n\nconst dataQueries = [\n  {\n    query: \"UNWIND $teams AS t MERGE (:Team {name: t})\",\n    parameters: { teams: data.teams || [] }\n  },\n  {\n    query: `UNWIND $people AS p\n            MERGE (person:Person {id: p.id})\n            SET person.name = p.name, person.role = coalesce(p.role, ''), person.bio = coalesce(p.bio, '')\n            WITH person, p\n            OPTIONAL MATCH (t:Team {name: p.team})\n            FOREACH (_ IN CASE WHEN t IS NULL THEN [] ELSE [1] END | MERGE (person)-[:MEMBER_OF]->(t))`,\n    parameters: { people: data.people || [] }\n  },\n  {\n    query: `UNWIND $projects AS pr\n            MERGE (project:Project {id: pr.id})\n            SET project.name = pr.name, project.description = coalesce(pr.description, ''),\n                project.status = coalesce(pr.status, 'unknown')\n            FOREACH (tool IN coalesce(pr.tools, []) | MERGE (t:Tool {name: tool}) MERGE (project)-[:USED_TOOL]->(t))\n            FOREACH (cid IN coalesce(pr.contributors, []) | MERGE (cp:Person {id: cid}) MERGE (cp)-[:WORKED_ON]->(project))`,\n    parameters: { projects: data.projects || [] }\n  },\n  {\n    query: `UNWIND $decisions AS d\n            MERGE (dec:Decision {id: d.id})\n            SET dec.title = d.title, dec.rationale = coalesce(d.rationale, ''), \n                dec.date = coalesce(d.date, ''), dec.status = coalesce(d.status, 'unknown')\n            WITH dec, d\n            OPTIONAL MATCH (p:Person {id: d.approved_by})\n            FOREACH (_ IN CASE WHEN p IS NULL THEN [] ELSE [1] END | MERGE (p)-[:APPROVED]->(dec))\n            WITH dec, d\n            OPTIONAL MATCH (pr:Project {id: d.project_id})\n            FOREACH (_ IN CASE WHEN pr IS NULL THEN [] ELSE [1] END | MERGE (dec)-[:RELATES_TO]->(pr))`,\n    parameters: { decisions: data.decisions || [] }\n  },\n  {\n    query: `UNWIND $documents AS d\n            MERGE (doc:Document {id: d.id})\n            SET doc.title = d.title, doc.content = coalesce(d.content, ''), \n                doc.type = coalesce(d.type, 'document'), doc.created = coalesce(d.created, '')\n            WITH doc, d\n            OPTIONAL MATCH (p:Person {id: d.author_id})\n            FOREACH (_ IN CASE WHEN p IS NULL THEN [] ELSE [1] END | MERGE (p)-[:AUTHORED]->(doc))\n            WITH doc, d\n            OPTIONAL MATCH (dec:Decision {id: d.documents_decision})\n            FOREACH (_ IN CASE WHEN dec IS NULL THEN [] ELSE [1] END | MERGE (doc)-[:DOCUMENTS]->(dec))\n            WITH doc, d\n            OPTIONAL MATCH (pr:Project {id: d.documents_project})\n            FOREACH (_ IN CASE WHEN pr IS NULL THEN [] ELSE [1] END | MERGE (doc)-[:DOCUMENTS]->(pr))`,\n    parameters: { documents: data.documents || [] }\n  }\n];\n\nreturn [{ json: { schemaQueries, dataQueries } }];"
      },
      "id": "prepare",
      "name": "Prepare Neo4j Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "const { schemaQueries } = $input.first().json;\nreturn schemaQueries.map(q => ({ json: { query: q } }));"
      },
      "id": "schema-items",
      "name": "Build Schema Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { statements: [{ statement: $json.query }] } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "run-schema",
      "name": "Run Schema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpBasicAuth": {
          "id": "neo4j-basic-auth",
          "name": "Neo4j Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dataQueries = $('Prepare Neo4j Queries').item.json.dataQueries;\nreturn dataQueries.map(q => ({ json: q }));"
      },
      "id": "data-items",
      "name": "Build Data Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { statements: [{ statement: $json.query, parameters: $json.parameters }] } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "load-data",
      "name": "Load Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpBasicAuth": {
          "id": "neo4j-basic-auth",
          "name": "Neo4j Basic Auth"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [[{"node": "Document Manifest", "type": "main", "index": 0}]]
    },
    "Document Manifest": {
      "main": [[{"node": "Fetch Text Document", "type": "main", "index": 0}]]
    },
    "Fetch Text Document": {
      "main": [[{"node": "Set Text", "type": "main", "index": 0}]]
    },
    "Set Text": {
      "main": [[{"node": "Extract Entities", "type": "main", "index": 0}]]
    },
    "Groq LLM": {
      "ai_languageModel": [[{"node": "Extract Entities", "type": "ai_languageModel", "index": 0}]]
    },
    "Extract Entities": {
      "main": [[{"node": "Parse Extracted Data", "type": "main", "index": 0}]]
    },
    "Parse Extracted Data": {
      "main": [[{"node": "Prepare Neo4j Queries", "type": "main", "index": 0}]]
    },
    "Prepare Neo4j Queries": {
      "main": [[{"node": "Build Schema Items", "type": "main", "index": 0}]]
    },
    "Build Schema Items": {
      "main": [[{"node": "Run Schema", "type": "main", "index": 0}]]
    },
    "Run Schema": {
      "main": [[{"node": "Build Data Items", "type": "main", "index": 0}]]
    },
    "Build Data Items": {
      "main": [[{"node": "Load Data", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {}
}
