Week 2/Customer Support/2D - Customer Support with Hybrid Search + Escalation.json
{
  "name": "2D - Customer Support with Hybrid Search + Escalation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f2ffcac1-537e-42df-a26e-83368594d5c3",
      "name": "POST /support-query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        528
      ],
      "webhookId": "32b5da5c-8dd8-4728-9f50-60d0eff5e8a1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/embed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ text: $json.body.query }) }}",
        "options": {}
      },
      "id": "c2f45fd6-7590-46e5-8260-8c2e79ab2d81",
      "name": "Embed Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://product-enquiry-11pu6wl.svc.aped-4627-b74a.pinecone.io/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ vector: $json.embedding, topK: 10, includeMetadata: true }) }}",
        "options": {}
      },
      "id": "dc9ee836-e117-479c-b5c0-0337ddf232c9",
      "name": "Pinecone - Semantic Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const query = $('POST /support-query').first().json.body.query;\nconst customerId = $('POST /support-query').first().json.body.customer_id || 'anonymous';\nconst matches = $input.first().json.matches || [];\n\nfunction keywordScore(text, queryTerms) {\n  if (!text) return 0;\n  const lowerText = text.toLowerCase();\n  const lowerQuery = queryTerms.map(t => t.toLowerCase());\n  let hits = 0;\n  for (const term of lowerQuery) {\n    if (lowerQuery.length <= 2) continue;\n    if (lowerText.includes(term)) hits++;\n  }\n  return Math.min(hits / Math.max(lowerQuery.length, 1), 1.0);\n}\n\nconst queryTerms = query.split(/\\s+/).filter(t => t.length > 3);\n\nconst SEMANTIC_WEIGHT = 0.6;\nconst KEYWORD_WEIGHT = 0.4;\nconst CONFIDENCE_THRESHOLD = 0.45;\n\nconst scoredDocs = matches.map(m => {\n  const semanticScore = m.score || 0;\n  const docText = `${m.metadata.title || ''} ${m.metadata.content || m.metadata.text || ''}`.trim();\n  const kwScore = keywordScore(docText, queryTerms);\n  const hybridScore = (SEMANTIC_WEIGHT * semanticScore) + (KEYWORD_WEIGHT * kwScore);\n  return {\n    id: m.id,\n    title: m.metadata.title || m.id,\n    content: m.metadata.content || m.metadata.text || '',\n    category: m.metadata.category || 'general',\n    semanticScore: parseFloat(semanticScore.toFixed(4)),\n    keywordScore: parseFloat(kwScore.toFixed(4)),\n    hybridScore: parseFloat(hybridScore.toFixed(4))\n  };\n}).sort((a, b) => b.hybridScore - a.hybridScore);\n\nconst topDoc = scoredDocs[0] || null;\nconst confidence = topDoc ? topDoc.hybridScore : 0;\nconst canAutoResolve = confidence >= CONFIDENCE_THRESHOLD;\nconst topDocs = scoredDocs.slice(0, 3);\n\nreturn [{ json: { query, customerId, scoredDocs, topDocs, topDoc, confidence, canAutoResolve, confidenceThreshold: CONFIDENCE_THRESHOLD } }];"
      },
      "id": "177dc6b7-7089-485a-bbab-d30e42b2c170",
      "name": "Hybrid Score + Confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-confidence",
              "leftValue": "={{ $json.canAutoResolve }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c626215e-9f1c-4e4c-aab0-7397864412a2",
      "name": "Route by Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst contextDocs = data.topDocs\n  .map((doc, i) => `[${i+1}] ${doc.title}\\n${doc.content.slice(0, 600)}${doc.content.length > 600 ? '...' : ''}`)\n  .join('\\n\\n');\n\nconst systemPrompt = `You are a helpful customer support assistant. Answer the customer's question accurately and concisely using only the provided knowledge base articles. If the articles don't fully answer the question, say so. Keep your answer under 200 words. End with a friendly closing.`;\n\nconst userMessage = `Customer question: ${data.query}\\n\\nRelevant knowledge base articles:\\n${contextDocs}\\n\\nPlease answer based on the articles above.`;\n\nreturn [{ json: { ...data, answerMessages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userMessage }] } }];"
      },
      "id": "bf71fb53-c550-42c9-a743-73f0b568ce46",
      "name": "Build Answer Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: $json.answerMessages, temperature: 0.2, max_tokens: 400 }) }}",
        "options": {}
      },
      "id": "f081d9cb-393a-4c30-b053-bac575a09523",
      "name": "Generate Support Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const hybridData = $('Hybrid Score + Confidence').first().json;\nconst gptResponse = $input.first().json;\nconst answer = gptResponse.choices[0].message.content;\n\nreturn [{ json: { success: true, status: 'resolved', customer_id: hybridData.customerId, query: hybridData.query, answer, metadata: { confidence: hybridData.confidence, threshold: hybridData.confidenceThreshold, top_documents: hybridData.topDocs.map(d => ({ title: d.title, category: d.category, hybrid_score: d.hybridScore, semantic_score: d.semanticScore, keyword_score: d.keywordScore })) } } }];"
      },
      "id": "3b13a9fc-39b1-4b56-9e67-66a7c8e6c45c",
      "name": "Format Resolved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a490d016-548e-499f-b127-72a10c1ef404",
      "name": "Respond - Resolved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1520,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst ticketId = `TKT-${Date.now()}`;\n\nconst topCandidates = data.scoredDocs.slice(0, 5).map(d => ({\n  title: d.title,\n  category: d.category,\n  hybrid_score: d.hybridScore\n}));\n\nconst escalationPayload = {\n  ticket_id: ticketId,\n  customer_id: data.customerId,\n  query: data.query,\n  reason: `Low confidence (${data.confidence.toFixed(3)} < ${data.confidenceThreshold}) — could not find reliable answer`,\n  top_candidates: topCandidates,\n  priority: data.confidence < 0.4 ? 'high' : 'medium',\n  created_at: new Date().toISOString()\n};\n\nreturn [{ json: { escalationPayload, ticketId, customerId: data.customerId, query: data.query, confidence: data.confidence } }];"
      },
      "id": "1b230c50-3d51-4cbd-b61a-27d443e59590",
      "name": "Escalate to Human",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://support-tickets-11pu6wl.svc.aped-4627-b74a.pinecone.io/vectors/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ vectors: [{ id: $json.ticketId, values: $('Embed Query').first().json.embedding, metadata: { ticket_id: $json.ticketId, customer_id: $json.customerId, query: $json.query, confidence: $json.confidence, priority: $json.escalationPayload.priority, reason: $json.escalationPayload.reason, status: 'open', created_at: $json.escalationPayload.created_at, top_candidates: JSON.stringify($json.escalationPayload.top_candidates) } }] }) }}",
        "options": {}
      },
      "id": "b76625ad-8c74-4ad4-8206-4e180a3384e9",
      "name": "Upsert Ticket to Pinecone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const escalateData = $('Escalate to Human').first().json;\n\nreturn [{ json: { success: true, status: 'escalated', customer_id: escalateData.customerId, query: escalateData.query, ticket_id: escalateData.ticketId, message: \"We couldn't find a confident answer to your question. A support agent has been notified and will respond within 2 business hours.\", metadata: { confidence: escalateData.confidence, threshold: 0.45, priority: escalateData.escalationPayload.priority, top_candidates: escalateData.escalationPayload.top_candidates } } }];"
      },
      "id": "b5fad9f1-7761-44a4-82ad-62c3e30509f6",
      "name": "Format Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        704
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "b43f1632-9fb3-4f48-bd96-381886674cfd",
      "name": "Respond - Escalated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1520,
        704
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "POST /support-query": {
      "main": [
        [
          {
            "node": "Embed Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Query": {
      "main": [
        [
          {
            "node": "Pinecone - Semantic Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone - Semantic Search": {
      "main": [
        [
          {
            "node": "Hybrid Score + Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hybrid Score + Confidence": {
      "main": [
        [
          {
            "node": "Route by Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Confidence": {
      "main": [
        [
          {
            "node": "Build Answer Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate to Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Answer Prompt": {
      "main": [
        [
          {
            "node": "Generate Support Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Support Answer": {
      "main": [
        [
          {
            "node": "Format Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Resolved": {
      "main": [
        [
          {
            "node": "Respond - Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Human": {
      "main": [
        [
          {
            "node": "Upsert Ticket to Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Ticket to Pinecone": {
      "main": [
        [
          {
            "node": "Format Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Escalation": {
      "main": [
        [
          {
            "node": "Respond - Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "78e6532b-b7d0-4d5f-be20-463a5470f46d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f84799f377210bb373f61a59440873fec4ae3f3cea60e8a19fd0955faa44541"
  },
  "id": "ysmNaj5UfDMJmu5s",
  "tags": [
    {
      "updatedAt": "2026-05-21T15:13:16.730Z",
      "createdAt": "2026-05-21T15:13:16.730Z",
      "id": "lFlta9MMMcKHnYzA",
      "name": "Complete 2D"
    }
  ]
}