Week 2/Financial/2B — Financial Docs Ingestion.json
{
  "name": "2B — Financial Docs Ingestion",
  "nodes": [
    {
      "parameters": {},
      "id": "386e82de-23bd-4660-b020-effa1f029846",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1056,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "const BASE = 'https://raw.githubusercontent.com/abhinav-genacademy/n8n-projects-week-2/refs/heads/main/';\n\nconst docs = [\n  { FILE_URL: BASE + 'nexgen_10k_2024.txt',              label: 'NexGen 10-K Annual Report 2024' },\n  { FILE_URL: BASE + 'nexgen_q3_2024_earnings_call.txt', label: 'NexGen Q3 2024 Earnings Call Transcript' },\n  { FILE_URL: BASE + 'nexgen_credit_agreement_2024.txt', label: 'NexGen Credit Agreement 2024' }\n];\n\nreturn docs.map(d => ({ json: d }));"
      },
      "id": "561d4f38-e3bb-43c3-a948-d121c2e44fb3",
      "name": "Document Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1584
      ],
      "notes": "3 financial documents embedded directly.\nEach flows into BOTH Pinecone nodes simultaneously."
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "nexgen-financial-kb",
          "mode": "list",
          "cachedResultName": "nexgen-financial-kb"
        },
        "options": {}
      },
      "id": "d0110fa8-9b1d-4e7a-91a4-ec3f61f908e2",
      "name": "Pinecone — Fixed",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1936,
        1376
      ],
      "credentials": {
        "pineconeApi": {
          "id": "qFORTiuyfEG38hbc",
          "name": "Pinecone account"
        }
      },
      "notes": "Default namespace\n500 char chunks / 100 overlap\nMetadata: strategy=fixed"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/paraphrase-MiniLM-L6-v2",
        "options": {}
      },
      "id": "3fb12c6e-91ee-4bcc-b74c-6e87e36db0f4",
      "name": "Embeddings — Fixed",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1936,
        1232
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "qgT0Zi0HBVyMmhrk",
          "name": "Hugging Face account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "text",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "label",
                "value": "={{ $json.label }}"
              },
              {
                "name": "strategy",
                "value": "fixed"
              }
            ]
          }
        }
      },
      "id": "8f26bdaf-ac4a-4730-84d4-9728b4240f7f",
      "name": "Loader — Fixed",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2352,
        1488
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "2769f705-45f7-48aa-9da4-b6fcc6669eae",
      "name": "Splitter — Fixed",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2368,
        1616
      ],
      "notes": "500 chars, 100 overlap — precise, fact-level chunks"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "nexgen-financial-kb",
          "mode": "list",
          "cachedResultName": "nexgen-financial-kb"
        },
        "options": {}
      },
      "id": "03f94780-37d6-4315-bc24-a0c7ac40d29d",
      "name": "Pinecone — Semantic",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1936,
        1792
      ],
      "credentials": {
        "pineconeApi": {
          "id": "qFORTiuyfEG38hbc",
          "name": "Pinecone account"
        }
      },
      "notes": "Default namespace\n1500 char chunks / 300 overlap\nMetadata: strategy=semantic"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/paraphrase-MiniLM-L6-v2",
        "options": {}
      },
      "id": "6d0db67d-5a16-456a-9d62-01de3f51f65c",
      "name": "Embeddings — Semantic",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1936,
        1632
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "qgT0Zi0HBVyMmhrk",
          "name": "Hugging Face account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "text",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "label",
                "value": "={{ $json.label }}"
              },
              {
                "name": "strategy",
                "value": "semantic"
              }
            ]
          }
        }
      },
      "id": "2df82a7c-d180-44be-b20b-9ae835362bc2",
      "name": "Loader — Semantic",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2368,
        1856
      ]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 300,
        "options": {}
      },
      "id": "106d5c04-22b0-47c0-b9c6-e9e0c8f9145d",
      "name": "Splitter — Semantic",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2384,
        2016
      ],
      "notes": "1500 chars, 300 overlap — larger chunks\npreserve section context for richer answers"
    },
    {
      "parameters": {
        "url": "={{ $json.FILE_URL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b015f188-ff7c-40a6-9a72-b8ad58371f75",
      "name": "Fetch Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        1584
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "content",
              "value": "={{ $json }}",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "label",
              "value": "={{ $('Document Manifest').item.json.label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2d93985f-7f11-4472-b26b-354cbf17c247",
      "name": "Set Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        1584
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Document Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Manifest": {
      "main": [
        [
          {
            "node": "Fetch Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings — Fixed": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone — Fixed",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loader — Fixed": {
      "ai_document": [
        [
          {
            "node": "Pinecone — Fixed",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Splitter — Fixed": {
      "ai_textSplitter": [
        [
          {
            "node": "Loader — Fixed",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings — Semantic": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone — Semantic",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loader — Semantic": {
      "ai_document": [
        [
          {
            "node": "Pinecone — Semantic",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Splitter — Semantic": {
      "ai_textSplitter": [
        [
          {
            "node": "Loader — Semantic",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Document": {
      "main": [
        [
          {
            "node": "Set Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Content": {
      "main": [
        [
          {
            "node": "Pinecone — Fixed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone — Semantic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "20614828-6175-4613-8c95-05be457dec36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f84799f377210bb373f61a59440873fec4ae3f3cea60e8a19fd0955faa44541"
  },
  "id": "dvhOfRorhgRFHyvS",
  "tags": [
    {
      "name": "FINAL",
      "id": "Qiw0RVu73PasExAI",
      "updatedAt": "2026-05-26T01:19:11.647Z",
      "createdAt": "2026-05-26T01:19:11.647Z"
    }
  ]
}