Week 2/Financial/2B — Financial Document Intelligence Q&A.json
{
  "name": "2B — Financial Document Intelligence Q&A",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "c19d6d30-a0ab-43c2-a2c1-634abaf2aa5c",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        1680
      ],
      "webhookId": "nexgen-financial-qa"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "search_fixed_chunks",
        "toolDescription": "Search NexGen financial documents with fixed-size chunks (500 chars). Best for specific numbers, revenue figures, dates, and precise facts from the 10-K, earnings call, or credit agreement.",
        "pineconeIndex": {
          "__rl": true,
          "value": "nexgen-financial-kb",
          "mode": "list",
          "cachedResultName": "nexgen-financial-kb"
        },
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "strategy",
                "value": "fixed"
              }
            ]
          }
        }
      },
      "id": "c6a1cdbc-3f98-4490-926f-8d900f41457c",
      "name": "Pinecone — Fixed",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -976,
        1632
      ],
      "credentials": {
        "pineconeApi": {
          "id": "qFORTiuyfEG38hbc",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "search_semantic_chunks",
        "toolDescription": "Search NexGen financial documents with semantic chunks. Best for context, risk factors, full loan clauses, and complete sections from the 10-K, earnings call, or credit agreement.",
        "pineconeIndex": {
          "__rl": true,
          "value": "nexgen-financial-kb",
          "mode": "list",
          "cachedResultName": "nexgen-financial-kb"
        },
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "strategy",
                "value": "semantic"
              }
            ]
          }
        }
      },
      "id": "f055f19c-9a5d-44db-a0f9-00536da2b801",
      "name": "Pinecone — Semantic",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -1008,
        1888
      ],
      "credentials": {
        "pineconeApi": {
          "id": "qFORTiuyfEG38hbc",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/paraphrase-MiniLM-L6-v2",
        "options": {}
      },
      "id": "60224b7c-58bd-4767-b88f-ea7ecc1b9231",
      "name": "Embeddings — Fixed",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -704,
        1808
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "qgT0Zi0HBVyMmhrk",
          "name": "Hugging Face account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/paraphrase-MiniLM-L6-v2",
        "options": {}
      },
      "id": "a3aac458-c512-4f1a-93a4-2ac39fd8b6f7",
      "name": "Embeddings — Semantic",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -1008,
        2048
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "qgT0Zi0HBVyMmhrk",
          "name": "Hugging Face account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a financial document analyst for NexGen Financial Technologies.\n\nYou have access to these documents:\n1. NexGen 10-K Annual Report 2024\n2. NexGen Q3 2024 Earnings Call Transcript\n3. NexGen Credit Agreement 2024\n\nIMPORTANT INSTRUCTIONS:\n- ALWAYS use search_fixed_chunks first for questions about specific numbers, dates, or facts\n- ALWAYS use search_semantic_chunks for questions about context, explanations, or full sections\n- Use BOTH tools when the question requires both facts and context\n- NEVER make up numbers or information - only use what you find in the search results\n- ALWAYS cite the specific document and section where you found the information\n- If you cannot find the answer in the search results, say \"I could not find this information in the available documents\"\n- Be precise with numbers - include units (millions, billions, percentages)\n- When comparing data, make sure you're comparing the same time periods\n- After answering the question, STOP. Do not ask follow-up questions.\n\nUser question: {{ $json.chatInput }}",
        "options": {}
      },
      "id": "0609ed0d-2a7e-4bce-9f80-a0b203ce8a79",
      "name": "Financial Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1296,
        1680
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "9565d6d4-9bfe-4d50-9781-8b3d2d9f4c97",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1424,
        1904
      ],
      "credentials": {
        "groqApi": {
          "id": "aIYaQJU1ehbAExQk",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "2f32b761-a9fe-4d00-8901-7fd2c4fdff04",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1296,
        1904
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Financial Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Financial Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Financial Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone — Fixed": {
      "ai_tool": [
        [
          {
            "node": "Financial Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings — Fixed": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone — Fixed",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings — Semantic": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone — Semantic",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone — Semantic": {
      "ai_tool": [
        [
          {
            "node": "Financial Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "edd7d63c-63ed-43db-9966-72ec1ae85ec1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f84799f377210bb373f61a59440873fec4ae3f3cea60e8a19fd0955faa44541"
  },
  "id": "uD1UgzIq7ornJLS7",
  "tags": [
    {
      "updatedAt": "2026-05-24T14:35:39.776Z",
      "createdAt": "2026-05-24T14:35:39.776Z",
      "id": "0hsT3FaL687VPWe3",
      "name": "Project-2B"
    }
  ]
}