Week 2/Enterprise Policy/2A — Enterprise Policy KB Ingestion.json
{
  "name": "2A — Enterprise Policy KB Ingestion",
  "nodes": [
    {
      "parameters": {},
      "id": "3fd36dd7-1d1f-41c9-9fba-a1387f6c325f",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const BASE = 'https://raw.githubusercontent.com/abhinav-genacademy/n8n-projects-week-2/main/';\n\nconst docs = [\n  { FILE_URL: BASE + 'hr_policy.txt',            label: 'HR Policy Manual' },\n  { FILE_URL: BASE + 'compliance_manual.txt',     label: 'Compliance Manual' },\n  { FILE_URL: BASE + 'product_documentation.txt', label: 'Product Documentation' },\n  { FILE_URL: BASE + 'onboarding_guide.txt',      label: 'Onboarding Guide' }\n];\n\nreturn docs.map(d => ({ json: d }));"
      },
      "id": "dfc93388-6c5a-4c04-aa63-a3acff742fe5",
      "name": "Document Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "notes": "Files fetched from:\nhttps://raw.githubusercontent.com/abhinav-genacademy/n8n-projects-week-2/main/\n\nTo add a document, add a row to docs[]."
    },
    {
      "parameters": {
        "url": "={{ $json.FILE_URL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "1eb7ae44-5d52-4c24-bf19-c2b5bed413c6",
      "name": "Fetch Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "content",
              "value": "={{ typeof $json.data === 'string' ? $json.data : JSON.stringify($json.data) }}",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "label",
              "value": "={{ $('Document Manifest').item.json.label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2013cb2e-aec0-42a9-8641-ec2c658b84af",
      "name": "Set Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "enterprise-policies",
          "mode": "list",
          "cachedResultName": "enterprise-policies"
        },
        "options": {}
      },
      "id": "43549542-8715-470e-a608-f2785f96bbca",
      "name": "Pinecone Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "credentials": {
        "pineconeApi": {
          "id": "qFORTiuyfEG38hbc",
          "name": "Pinecone account"
        }
      },
      "notes": "No namespace set — all docs go into default.\nIndex: acme-enterprise-kb, dimension=768.\nSelect your Pinecone credential in this node."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "52c84399-fac2-43fc-9b96-9a60840c1858",
      "name": "HuggingFace Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        784,
        224
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "qgT0Zi0HBVyMmhrk",
          "name": "Hugging Face account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "text",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "label",
                "value": "={{ $json.label }}"
              }
            ]
          }
        }
      },
      "id": "11d404d9-3df5-4036-972f-5faeb0ee5e74",
      "name": "Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        976,
        224
      ]
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 150,
        "options": {}
      },
      "id": "640ac4cb-ae61-4571-973b-f9539f6c8395",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        992,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Document Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Manifest": {
      "main": [
        [
          {
            "node": "Fetch Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HuggingFace Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Document": {
      "main": [
        [
          {
            "node": "Set Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Content": {
      "main": [
        [
          {
            "node": "Pinecone Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5dcb96c1-e7c1-440c-a6fd-7249498b91f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f84799f377210bb373f61a59440873fec4ae3f3cea60e8a19fd0955faa44541"
  },
  "id": "MuimTbOIjnADESJp",
  "tags": [
    {
      "updatedAt": "2026-05-12T08:59:29.326Z",
      "createdAt": "2026-05-12T08:59:29.326Z",
      "id": "BStDkf4ggYQaHAYM",
      "name": "RAG"
    },
    {
      "updatedAt": "2026-05-24T00:35:44.185Z",
      "createdAt": "2026-05-24T00:35:44.185Z",
      "id": "pPNtBzRjWFXDZKfx",
      "name": "Project-2A"
    }
  ]
}